@mixin rating-menu-container {
	display: flex;
	margin-bottom: 20px;
	margin-left: -15px;
    padding-left: 0;

	h2 {
		margin-top: 1px;
		margin-bottom: 0;
	}

	.rating-menu-container {
		button {
			span.caret {
				margin-left: 5px;
			}
		}
	}
}

.navbar-header {
	width: 100%;
	background-color: #303030;

	header {
		text-align: center;
		a {
			color: #ffffff;
			font-weight: 600;
		}
	}
}

.navbar-container {
	float: right
}

.search {
	background-image: url(../images/sprites/searchx2.png);
	width: 50px;
	height: 50px;
	
}

.rating-container {
	@include rating-menu-container;
}