/*--- FONTS ---*/
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

.h1, h1 {
  font-size: 2.5rem; }

.h3, h3 {
  font-size: 1.5rem;
  margin-top: 5px; }

.h4, h4 {
  font-size: 2.2rem; }

p {
  font-size: 1.5rem; }

/*--- LINKS --- */
a:hover {
  text-decoration: none; }

/*--- GRID ---*/
.row {
  margin-left: 20px;
  margin-right: 20px; }

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px;
  padding-left: 5px; }

/*--- NAVIGATION ---*/
@media only screen and (min-width: 750px) {
  .navbar {
    border-radius: 0; }

  .navbar-form .form-group {
    float: left;
    width: 79%;
    margin-right: 10px; } }
@media (min-width: 768px) {
  .navbar-form .form-control {
    width: 100%; } }
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 0px; } }
@media only screen and (max-width: 768px) {
  .navbar-form {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none; }
    .navbar-form .form-control {
      width: 100%; }
    .navbar-form .form-group {
      margin-right: 10px;
      width: 100%; } }
.navbar-default .navbar-nav > li > a {
  font-size: 1.3rem; }

.breadcrumb {
  margin-bottom: 0;
  background: #f8f8f8; }

@media only screen and (min-width: 750px) {
  .breadcrumb {
    padding: 8px 29px; } }
.breadcrumb > li {
  font-size: 1.5rem;
  color: #303030; }
  .breadcrumb > li a {
    color: #303030; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.container-fluid-small {
  padding-left: 5px;
  padding-right: 5px; }

.container-fluid-lg {
  padding-left: 15px;
  padding-right: 15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

@media only screen and (max-width: 750px) {
  .nav > li {
    float: left; } }
html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 62.5%;
  background-color: #303030;
  height: 100%;
  margin: 0;
  color: #fff; }

/*--- Default Styles --*/
.divider-bottom-sm {
  border-bottom: 1px solid #303030; }

.divider-bottom-md {
  border-bottom: 2px solid #303030; }

/*--- MIXINS ---*/
/*--- BUTTON DEFAULTS ---*/
.btn-default:hover {
  text-decoration: none; }

.button {
  font-size: 1.5rem; }

/*--- CUSTOM BUTTONS ---*/
.gen-button-default {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem; }

.close-btn {
  color: #FFF;
  background-color: transparent;
  border-radius: 2px;
  margin-bottom: 10px;
  border-color: #FFF; }

.close-btn:hover {
  color: #FFF; }

.close-trailer-btn {
  color: #FFF;
  background-color: transparent;
  border-radius: 2px;
  margin-bottom: 10px;
  border-color: #FFF;
  float: right;
  position: relative;
  margin-bottom: 10px; }

.close-trailer-btn:hover {
  color: #FFF; }

.showcase {
  border: 1px solid #fff;
  padding: 2px 5px;
  font-size: 1.1rem;
  font-weight: bold; }

.highlight {
  border: 1px solid #fff;
  background-color: #fff;
  color: #303030;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2px; }

.collapse-overide >
.show.in {
  display: none; }

.img-fluid img {
  width: 100%; }

/*--- End Default Styles ---*/
.navbar-header {
  width: 100%;
  background-color: #303030; }
  .navbar-header header {
    text-align: center; }
    .navbar-header header a {
      color: #ffffff;
      font-weight: 600; }

.navbar-container {
  float: right; }

.search {
  background-image: url(../images/sprites/searchx2.png);
  width: 50px;
  height: 50px; }

.movie-container {
  margin-bottom: 20px; }
  .movie-container h2 {
    color: #fff; }
  .movie-container h3 {
    color: #000;
    background-color: #fff; }

@media only screen and (min-width: 750px) {
  .movie-container a, .movie-container h2 {
    margin-left: 11px; } }
.trailer-container {
  width: 100%; }

@media only screen and (max-width: 450px) {
  .trailer-container {
    height: auto; } }
.img-link:hover {
  color: #23527c;
  text-decoration: underline;
  /*position: absolute;*/
  z-index: 1;
  display: block;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  /*margin: auto 0px auto -15px;
   padding-left: 0px; */ }

.ind-movie-container {
  margin-bottom: 20px; }

.ind-movie-description h4 {
  padding-bottom: 20px; }

.bottom-movie-title {
  display: none; }

.rating-system {
  display: flex;
  justify-content: flex-start; }
  .rating-system p {
    margin-right: 22px; }

.movie-sub-nav {
  display: flex; }
  .movie-sub-nav a {
    font-size: 1.8rem;
    border-top: 1px solid white;
    border-bottom: 1px solid #fff;
    padding: 15px 75px 15px 10px;
    margin-top: 40px;
    margin-left: -2px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: border 0.35s 0s;
    /* Safari */
    -webkit-transition-timing-function: linear;
    /* Safari */
    transition: border 0.35s 0s;
    transition-timing-function: linear;
    flex-grow: 1; }
  @media only screen and (max-width: 750px) {
    .movie-sub-nav a {
      font-size: 1rem;
      padding: 20px 10px 20px 10px;
      margin-top: 20px; } }
  .movie-sub-nav a:hover {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #a4cef3; }

.ind-movie-description .movie-details {
  margin-right: 50px; }
.ind-movie-description p {
  text-align: justify; }
@media only screen and (max-width: 750px) {
  .ind-movie-description .movie-details {
    margin-right: 0; }
  .ind-movie-description h4 {
    font-size: 1.8rem;
    padding-bottom: 5px; }
  .ind-movie-description p {
    font-size: 1.1rem;
    word-spacing: -1px; } }

footer {
  background-color: #f2f2f2;
  color: #1a1a1a;
  display: flex;
  font-size: 1.7rem;
  font-weight: 1.2rem;
  padding-top: 10px; }
  @media only screen and (max-width: 750px) {
    footer {
      font-size: 1.2rem; }
      footer ul li {
        font-size: 1rem; } }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
    footer ul li {
      font-size: 1.2rem; }

/*# sourceMappingURL=main.css.map */
