/*--- FONTS ---*/
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

.h1, h1 {
  font-size: 2.5rem; }

.h3, h3 {
  font-size: 1.5rem;
  margin-top: 5px; }

.h4, h4 {
  font-size: 2.2rem; }

p {
  font-size: 1.5rem; }

/*--- LINKS --- */
a:hover {
  text-decoration: none; }

/*--- GRID ---*/
.row {
  margin-left: 20px;
  margin-right: 20px; }

/*--- NAVIGATION ---*/
@media (min-width: 768px) {
  .navbar {
    border-radius: 0; } }
.navbar-default .navbar-nav > li > a {
  font-size: 1.3rem; }

.breadcrumb {
  margin-bottom: 0;
  background: #f8f8f8; }

.breadcrumb > li {
  font-size: 1.5rem;
  color: #303030; }
  .breadcrumb > li a {
    color: #303030; }

html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 62.5%;
  background-color: #303030;
  height: 100%;
  margin: 0;
  color: #fff; }

/*--- Default Styles --*/
.divider-bottom-sm {
  border-bottom: 1px solid #303030; }

.divider-bottom-md {
  border-bottom: 2px solid #303030; }

/*--- MIXINS ---*/
/*--- BUTTON DEFAULTS ---*/
.btn-default:hover {
  text-decoration: none; }

.button {
  font-size: 1.5rem; }

/*--- CUSTOM BUTTONS ---*/
.gen-button-default {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem; }

.close-btn {
  color: #FFF;
  background-color: transparent;
  border-radius: 2px;
  margin-bottom: 10px;
  border-color: #FFF; }

.close-btn:hover {
  color: #FFF; }

.close-trailer-btn {
  color: #FFF;
  background-color: transparent;
  border-radius: 2px;
  margin-bottom: 10px;
  border-color: #FFF;
  float: right;
  right: 26px;
  position: relative;
  margin-bottom: 10px; }

.close-trailer-btn:hover {
  color: #FFF; }

.showcase {
  border: 1px solid #fff;
  padding: 2px 5px;
  font-size: 1.1rem;
  font-weight: bold; }

.highlight {
  border: 1px solid #fff;
  background-color: #fff;
  color: #303030;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2px; }

.collapse-overide >
.show.in {
  display: none; }

/*--- End Default Styles ---*/
.navbar-header {
  width: 55%; }
  .navbar-header header {
    float: right; }
    .navbar-header header a {
      color: #303030;
      font-weight: 600; }

footer {
  background-color: #f2f2f2;
  color: #1a1a1a;
  display: flex;
  font-size: 1.7rem;
  font-weight: 1.2rem; }
  footer div {
    margin: 10px 100px 10px 165px; }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
    footer ul li {
      font-size: 1.2rem; }

.movie-container {
  margin-bottom: 20px; }
  .movie-container h2 {
    color: #fff; }
  .movie-container h3 {
    color: #000;
    background-color: #fff; }

.img-link:hover {
  color: #23527c;
  text-decoration: underline;
  /*position: absolute;*/
  z-index: 1;
  display: block;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  /*margin: auto 0px auto -15px;
   padding-left: 0px; */ }

.ind-movie-container {
  margin-bottom: 20px; }

.ind-movie-description h4 {
  padding-bottom: 20px; }

.bottom-movie-title {
  display: none; }

.rating-system {
  display: flex;
  justify-content: space-around;
  margin-left: -10px; }

.movie-sub-nav {
  margin-top: 60px; }
  .movie-sub-nav a {
    font-size: 1.8rem;
    border-top: 1px solid white;
    border-bottom: 1px solid #fff;
    padding: 20px 75px 20px 10px;
    margin-top: 40px;
    margin-left: -2px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: border 0.35s 0s;
    /* Safari */
    -webkit-transition-timing-function: linear;
    /* Safari */
    transition: border 0.35s 0s;
    transition-timing-function: linear; }
  .movie-sub-nav a:hover {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #a4cef3; }

.trailer-container {
  padding: 0 18px; }

/*# sourceMappingURL=main.css.map */
