@import "bootstrap-override";

html, body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 62.5%;
	background-color: #303030;
	height: 100%;
	margin: 0;
	color: #fff;
}

/*--- Default Styles --*/
.divider-bottom-sm {
	border-bottom: 1px solid #303030;
}

.divider-bottom-md {
	border-bottom: 2px solid #303030;
}

@import "custom-buttons";

.showcase {
	border: 1px solid #fff;
    padding: 2px 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

.highlight {
	border: 1px solid #fff;
    background-color: #fff;
    color: #303030;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 2px;
}

.collapse-overide >
	.show.in {
		display: none;
	
} 

/*--- End Default Styles ---*/
@import "header-nav";

footer {
	background-color: #f2f2f2;
	color: #1a1a1a;
	display: flex;
	font-size: 1.7rem;
	font-weight: 1.2rem;

	div {
		margin: 10px 100px 10px 165px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			font-size: 1.2rem;
		}
	}
}


.movie-container {
	margin-bottom: 20px;
	h2 {
		color: #fff;
	}
	h3 {
		    color: #000;
    background-color: #fff;
	}
	
}

.img-link:hover {
	color: #23527c;
    text-decoration: underline;
    /*position: absolute;*/
    z-index: 1;
    display: block;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    /*margin: auto 0px auto -15px;
     padding-left: 0px; */
}

.ind-movie-container {
	margin-bottom: 20px;
}

.ind-movie-description {
	h4 {
		padding-bottom: 20px;
	}
}

.bottom-movie-title {
	display:none;
}

.rating-system {
	display: flex;
    justify-content: space-around;
    margin-left: -10px;
}

.movie-sub-nav {
	margin-top: 60px;

	a {
	font-size: 1.8rem;
	border-top: 1px solid white;
    border-bottom: 1px solid #fff;
    padding: 20px 75px 20px 10px;
    margin-top: 40px;
    margin-left: -2px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: border 0.35s 0s; /* Safari */
    //-webkit-transition: border-bottom 0.75s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: border 0.35s 0s;
    //transition: border-bottom 0.75s;
    transition-timing-function: linear;
	}

	a:hover {
		border-top: 2px solid #fff;
    	border-bottom: 2px solid #fff;
    	color: #a4cef3;
	}
	
}

.trailer-container {
	padding: 0 18px;
}